.header {
  padding: 41px 0 0;
}

.header__top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 56px;
}

.header__logo {
  max-height: 262px;
}

.header__title {
  font-size: 72px;
  max-width: 712px;
  margin: 0;
}

.header__sub-title {
  font-size: 46px;
  margin: 17px auto 0;
}

.header__description {
  font-size: 22px;
  margin: 53px auto 0;
  line-height: 1.6;
  max-width: 967px;
  text-align: center;
}
