<section class="auth">
  <div class="auth__container">
    <form action="" class="auth__form" [formGroup]="userForm">
      <label class="auth__label">
        <input
          formControlName="username"
          type="text"
          class="auth__input"
          placeholder="E-mail or username"
          required
        />
      </label>

      @if (successMessage()) {
      <p class="auth__message auth__message_type_success">{{ successMessage() }}</p>
      } @if (errorMessage()) {
      <p class="auth__message auth__message_type_error">{{ errorMessage() }}</p>
      }

      <div class="auth__actions">
        <button type="submit" class="auth__button" (click)="onRegister()">
          @if(isLoading().registering){ Registering... <span class="auth__spinner"></span> } @else {
          Register Passkey }
        </button>
        <button type="submit" class="auth__button" (click)="onAuthenticate()">
          @if(isLoading().authenticating){ Authenticating... <span class="auth__spinner"></span> }
          @else { Authenticate }
        </button>
      </div>
    </form>
  </div>
</section>
