<section class="profile">
  <div class="profile__container">
    <img src="../../../assets/success.svg" alt="success shield image" class="profile__success" />
    <div class="profile__content">
      <h2 class="profile__title">Authentication Successful</h2>
      <p class="profile__content">
        You are now logged in through a simulated WebAuthn process. This project illustrates how
        modern authentication eliminates password risks while offering a seamless flow.
      </p>
      <button type="button" class="profile__button"></button>
    </div>
  </div>
</section>
